html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

p {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hover-darken {
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 10px;
}

.hover-darken:hover {
  background-color: rgba(255, 255, 255, 0.05); /* or #333, #222, etc. */
  cursor: pointer;
}

.hover-glow {
  transition: background-color 0.3s ease;
  padding: 5px;
  border-radius: 10px;
}

.hover-glow:hover {
  box-shadow: 0 0 10px white;
}

.dropdown-container {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown-container.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
